.backdropinfo-item {
    
    transition-duration: 300ms;
    transition-property: width, display;
    transition-timing-function:
        ease-out;
    width: calc(100% / var(--card-carousel-number));
    height: auto;
    scroll-snap-align: start;

    flex-shrink: 0;
    flex-grow: 0;
    scroll-snap-align: start;
    will-change: transform;


}

.backdropinfo-item:first-of-type {
    scroll-snap-align: start;
    margin-left: 0;
}

.backdropinfo-item a {
    padding: 10px;
    text-decoration: inherit;


    width: 100%;
    transform: scale(1, 1) translateZ(0);
    transition-property: transform;
    display: block;

    color: inherit;

    position: relative;

    border-radius: 4px;
    background-color: transparent;
}

.backdropinfo-item-image-container {
    aspect-ratio: var(--backdrop-aspect-ratio);
    position: relative;
    width: 100%;
    height: auto;
    transform: scale(1, 1) translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;

    cursor: pointer;

    transition-timing-function:
        ease-out;
    z-index: -1;
    transition-duration: 300ms;
    border-radius: inherit;
    background: #2D2F36;
}



.backdropinfo-item:hover .backdropinfo-item-image-container {
    transform: scale(1.05, 1.05) translateZ(0) translate3d(0, 0, 0);
}

.backdropinfo-item:hover .backdropinfo-item-image-container::before {
    opacity: 1;
}



.backdropinfo-item-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    outline: 3px solid #FFFFFF;
    outline-offset: 3px;
    opacity: 0;
    transition: opacity 300ms ease;
}

.backdropinfo-item-image-container::after {
    content: "";
    position: absolute;
    box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.80);
    left: 12px;
    width: calc(100% - 24px);
    bottom: 10px;
    height: 33px;
    z-index: -1;
    cursor: pointer;
}

.backdropinfo-item-image {
    height: 100%;
    align-items: center;
    display: flex;
    overflow: hidden;
    border-radius: inherit;
    background: #2D2F36;
}

.backdropinfo-item-image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: block;
    transition-property: opacity;
    opacity: 1;

    transition-timing-function:
        ease-in-out;
    transition-duration: 200ms;
    border-style: none;
}




.set-skeleton .backdropinfo-item {
    pointer-events: none;
}



.backdrop-image {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.4s ease-in-out;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}




.backdropinfo-item-info-container {
    padding-top: 0 !important;
}

.backdropinfo-item-info-title {
    transition: color 300ms ease;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    color: #B7B8BD;

    font-family: "Inspire-Heavy", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.11px;
    line-height: 1.6;

    transition-duration: 300ms;
}

.backdropinfo-item:hover .backdropinfo-item-info-title {
    color: #FFFFFF;
}

.backdropinfo-item:hover .backdropinfo-item-info-details {
    opacity: 1;
}


.backdropinfo-item-info-details {
    -webkit-line-clamp: 1;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #DBDCDE;

    font-family: "Inspire-Roman", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 1.5;

    opacity: 60%;

    transition-duration: 300ms;
}


