.backdrop-container {
    margin-left: calc(-1 * var(--inner-width));
    width: calc(100% + (2 * var(--inner-width)) + 10px);
    position: relative;

    --card-gap: 10px;
    --card-carousel-number: 2;
    --backdrop-aspect-ratio: calc(16 / 9);

    --carousel-available-width: calc(100vw - (var(--inner-width) * 2));
    --carousel-total-gap: calc((var(--card-gap) * 2) * var(--card-carousel-number));
    --card-width: calc((var(--carousel-available-width) - var(--carousel-total-gap)) / var(--card-carousel-number));
    --card-height: calc(var(--card-width) / var(--backdrop-aspect-ratio));
}



.backdrop-carousel {
    padding-left: var(--inner-width);
    padding-right: var(--inner-width);
    padding-top: calc(2px + 20px);
    padding-bottom: 40px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -10px;
    align-content: stretch;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-padding: 0 var(--inner-width);
    overscroll-behavior-x: contain;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 8px, rgba(0, 0, 0, 0.5) calc(var(--inner-width) * 0.85), rgba(0, 0, 0, 1) calc(var(--inner-width) + (10px * 0.85)), rgba(0, 0, 0, 1) calc(100% - calc(var(--inner-width) + (10px * 0.85))), rgba(0, 0, 0, 0.5) calc(100% - calc(var(--inner-width) * 0.85)), rgba(0, 0, 0, 0.5) calc(100% - 8px), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 8px, rgba(0, 0, 0, 0.5) calc(var(--inner-width) * 0.85), rgba(0, 0, 0, 1) calc(var(--inner-width) + (10px * 0.85)), rgba(0, 0, 0, 1) calc(100% - calc(var(--inner-width) + (10px * 0.85))), rgba(0, 0, 0, 0.5) calc(100% - calc(var(--inner-width) * 0.85)), rgba(0, 0, 0, 0.5) calc(100% - 8px), rgba(0, 0, 0, 0));
    mask-composite: intersect;

    scrollbar-width: none;
    display: flex;
}


.backdrop-carousel.snap-enabled {
    scroll-snap-type: x mandatory;
}



.backdropinfo-NextBtn,
.backdropinfo-PrevBtn {
    opacity: 0;
    border-radius: 4px;
    overflow: hidden;
}

.backdropinfo-PrevBtn:focus-visible {
    outline: none;
}

.backdropinfo-NextBtn:focus-visible {
    outline: none;
}


.backdropinfo-NextBtn:hover,
.backdropinfo-PrevBtn:hover {
    cursor: pointer;
    opacity: 1;
}



.backdropinfo-NextBtn span,
.backdropinfo-PrevBtn span {
    width: 40px;
    height: var(--card-height);
    top: calc(10px + calc(2px + 20px));

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backdropinfo-NextBtn span svg,
.backdropinfo-PrevBtn span svg{

    width: 40px;
    height: auto;
}






.backdropinfo-NextBtn {
    line-height: normal;
    width: var(--inner-width);
    border: 0;
    background-color: transparent;
    height: calc(100% - 22px);
    transition-property: transform, opacity;
    transition-duration: 0.5s, 0.35s;
    position: absolute;
    display: flex;
    overflow: visible;



    align-items: flex-start;
    justify-content: flex-start;

    top: 0;
    right: 0;
}




.backdropinfo-PrevBtn {
    width: var(--inner-width);
    border: 0;
    background-color: transparent;

    height: calc(100% - 22px);
    transition-property: transform, opacity;
    transition-duration: .5s, .35s;

    position: absolute;

    display: flex;
    top: 0;
    left: 0;
    z-index: 2;


    align-items: flex-end;
    justify-content: flex-start;
}

.backdropinfo-PrevBtn:disabled,
.backdropinfo-NextBtn:disabled {
    opacity: 0;
    cursor: inherit;

}





@media (min-width: 768px) {
    .backdrop-container {
        --card-carousel-number: 3;
    }

    .backdropinfo-NextBtn {
        right: 0;
    }
}

@media (min-width: 1024px) {
    .backdrop-container {
        --card-carousel-number: 4;
    }
}

@media (min-width: 1440px) {
    .backdrop-container {
        --card-carousel-number: 5;
    }
}