.details-page {
    display: block;
    top: var(--nav-height);
    padding: 0;
    position: relative;
    overflow-x: inherit;
}

.details-page-container {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}


.details-page-content {
    padding-left: var(--inner-width);
    padding-right: var(--inner-width);
}


.details-page-media-background {
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    z-index: -1;
    opacity: var(--variavel-controlavel);
}


.details-page-media-background-image {
    width: 100%;
    transition: opacity 1s ease;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.details-page-media-background-image-blurred {
    width: 100vw;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 1;
    filter: blur(12px);
}

.details-page-media-background-image-original {
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    position: absolute;
    opacity: 1;
}



.details-page-media-background-filter {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    z-index: 0;

    background: radial-gradient(farthest-side at 73% 21%, transparent, #17171B);
}



.explore-ui-main-content {
    display: grid;
    grid-template-columns: 1fr;
}

.explore-ui-main-content>* {
    grid-column: 1;
}




.explore-ui-main-content-overview {
    margin-bottom: 16px;
    margin-top: 32px;
}

.explore-ui-main-content-overview p {
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    color: #FFFFFF;


    font-family: "inspire-Roman", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 1.6;
}



.explore-ui-main-content-logo {
    grid-row: 1;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    margin-bottom: 24px;
}
.explore-ui-main-content-logo h2{
    font-family: 'Inspire-Heavy', sans-serif;
    font-size: 32px;
    letter-spacing: .11px;
    line-height: 1.2;

    color: #f9f9f9;
    padding-bottom: 1.5rem;
}

.explore-ui-main-content-logo img {
    max-width: 196px;
    max-height: 74px;
    object-position: left bottom;
    object-fit: contain;
    border-style: none;
}




.explore-ui-main-content-actions {
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    display: flex;
}

.play-action {
    width: 100%;
    height: 56px;
    transition-property: color, background-color, border-color;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 0;
    margin-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition-timing-function:
        ease-in-out;
    transition-duration: 200ms;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Inspire-Heavy", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 1.6;

    border: none;
}

.play-action svg {
    color: inherit;
    margin-right: 16px;
    fill: currentcolor;
}



.watchlist-action {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 16px;
}

.watchlist-action button {
    line-height: normal;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    transition-property: color, background-color, border-color;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition-timing-function:
        ease-in-out;
    transition-duration: 200ms;
    background-color: #FFFFFF33;
    color: #FFFFFF;
    font-family: "Inspire-Heavy", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 1.6;

    -webkit-appearance: button;
    overflow: visible;
}

.watchlist-action button svg {
    color: inherit;
    fill: currentcolor;
}

.watchlist-action:hover button {
    background-color: #FFFFFF66;
}

.watchlist-action:hover .watchlist-action-showup {
    display: block;
}


.watchlist-action-showup {
    display: none;
    padding: 10px;
    bottom: calc(100% + 16px);
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    position: absolute;
    margin-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    white-space: nowrap;
    z-index: 1;
    border-radius: 2px;
    background-color: #2D2F36;
    color: #FFFFFF;

    font-family: "Inspire-Heavy", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.42px;
    line-height: 1.1;
}

.watchlist-action-showup:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #2D2F36 transparent transparent transparent;
}











.details-tabs-container {
    margin-top: 80px;
}

.details-tabs-container-tablist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 1px solid #FFFFFF33;
    overflow-x: scroll;
    z-index: 2;
    scrollbar-width: none;
}

.details-tabs-container-tablist li {
    padding-bottom: 15px;
    position: relative;
    transition: all 350ms;
    text-wrap: nowrap;
    display: inline-block;
    margin-right: 36px;
    text-transform: uppercase;
    cursor: pointer;
}

.details-tabs-container-tablist li::after {
    content: "";
    background-color: #DBDCDE;
    border-radius: 50px 50px 0 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 200ms ease;
}

.details-tabs-container-tablist li.active::after {
    opacity: 1;
    transition: color 200ms ease;
}
.details-tabs-container-tablist li.active .tabItem-text-1{
    visibility: visible;
}
.details-tabs-container-tablist li.active .tabItem-text-2{
    visibility: hidden;
}


.tabItem-text-1 {
    visibility: hidden;
    color: rgb(255, 255, 255);
    font-family: "Inspire-Heavy", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.4;
}

.tabItem-text-2 {
    top: 0;
    left: 0;
    visibility: visible;
    position: absolute;
    color: rgb(219, 220, 222);

    font-family: "inspire-Roman", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.4;
}


.details-tabs-container-tablist li:hover::after {
    opacity: 1;
    transition: color 200ms ease;
}




@media (min-width: 480px) {
    .watchlist-action {
        margin-right: 20px;
        margin-left: 0;
    }

    .explore-ui-main-content-logo img {
        max-width: 280px;
        max-height: 105px;
    }
}

@media (min-width: 768px) {
    .explore-ui-main-content-logo img {
        max-width: 400px;
        max-height: 150px;
    }

    .explore-ui-main-content {
        grid-template-columns: 550px 1fr;
    }

    .explore-ui-main-content-overview p {
        -webkit-line-clamp: 3;
    }

    .explore-ui-main-content-actions {
        justify-content: start;
    }

    .play-action {
        margin-right: 20px;
        width: auto;
    }


}