.movie-options-modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, .6);
}

.movie-options-modal-container {
    width: 100%;
    height: 100%;
    padding-inline: var(--inner-width);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-options-dialog {
    background-color: #00050d;
}




.movie-options-dialog-header {
    border-bottom: 1px solid #33373d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.XSvg {
    width: 100px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(153, 153, 153);
}

.movie-options-dialog-header-title {
    display: flex;
    align-items: center;
}

.draggable-resize-button-container {
    padding: 4px;
    display: none;
    align-items: center;
    justify-content: center;
}

.draggable-resize-button {
    background-color: #33373d;
    border-radius: 10000px;
    display: block;
    height: 4px;
    width: 32px;
}



.movie-options-dialog-main {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 16px 24px;
}


.movie-options-dialog-main ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.movie-options-dialog-main ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

}

.movie-options-dialog-main ul li>* {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-right: 12px;
}

.movie-options-dialog-main ul li a,
.movie-options-dialog-main ul li p {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Ember-regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    text-decoration: none;
}

.movie-options-dialog-main ul li button {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Ember-medium';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    line-height: 17px;
    color: white;
    background: none;
    border: none;
}

.movie-options-dialog-main ul li span {
    margin-left: 8px;
}

.movie-options-dialog-header {
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
}

.movie-options-dialog-header h2 {
    font-family: 'Ember-bold';
    font-weight: 700;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
}

.movie-options-dialog-buttons {
    padding-block: 28px;
}

.movie-options-dialog-buttons button {
    font-family: 'Ember-medium';
    font-weight: 500;
    font-size: 20px;
    padding: 5px 12px;
    border-radius: 8px;
    border: none;
    min-height: 62px;
    min-width: 132px;
}

.movie-options-dialog-buttons button:not(:first-child) {
    color: white;
    background-color: #33373d;
}


.movie-options-dialog-buttons button:first-child {
    color: white;
    background: none;
    box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .35);
}


.movie-options-dialog-buttons button:hover {
    color: black;
    background: white;
    box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .35);
}



@media (max-width: 599px) {
    .movie-options-dialog-buttons {
        display: flex;
        flex-direction: column;

    }

    .movie-options-dialog-buttons button:first-child {
        margin-bottom: 16px;
    }

    .movie-options-dialog-buttons button {
        width: 100%;
        border-radius: 8px;
        min-height: 48px;
        font-size: 16px;

        line-height: 19px;
    }


    .draggable-resize-button-container {
        display: flex;
    }

    .movie-options-modal-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
    }

    .movie-options-dialog-header {
        padding: 12px 24px;
    }

    .movie-options-dialog-header h2 {
        font-size: 18px;
        letter-spacing: 0.36px;
        line-height: 22px;
    }

    .movie-options-dialog {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;

        height: initial;
    }


    .XSvg {
        margin-left: auto;
    }
}

@media (min-width: 600px) {
    .movie-options-dialog-buttons button {
        min-height: 54px;
        font-size: 18px;
        padding: 5px 15px;
        line-height: 22px;
    }


    .movie-options-dialog-buttons button:first-child {
        margin-right: 28px;
    }

    .movie-options-modal-container {
        align-items: center;
        justify-content: center;
    }

    .movie-options-dialog {
        height: auto !important;
        max-width: 525px;
        width: 100%;

        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
    }

    .movie-options-dialog-main ul li a,
    .movie-options-dialog-main ul li p {
        font-size: 18px;
        letter-spacing: normal;
        line-height: 25px;
    }

    .movie-options-dialog-main {
        padding: 20px 30px;
    }

}

@media (min-width: 880px) {

    .movie-options-dialog-buttons button {
        min-height: 60px;
        font-size: 18px;
        padding: 8px 18px;
    }


    .movie-options-dialog-header {
        padding: 18px 36px;
    }

    .movie-options-dialog-header h2 {
        font-size: 28px;
        letter-spacing: 1.12px;
        line-height: 39px;
    }


    .movie-options-dialog {
        max-width: 725px;
    }

    .movie-options-dialog-main {
        padding: 24px 36px;
    }
}

@media (min-width: 1280px) {
    .movie-options-dialog-buttons button {
        min-height: 62px;
        font-size: 20px;
        padding: 8px 21px;
        line-height: 23px;
    }

    .movie-options-dialog-main ul li a,
    .movie-options-dialog-main ul li p {
        font-size: 20px;
        letter-spacing: normal;
        line-height: 28px;
    }


    .movie-options-dialog-header {
        padding: 21px 42px;
    }

    .movie-options-dialog-header h2 {
        font-size: 32px;
        letter-spacing: normal;
        line-height: 36px;
    }



    .movie-options-dialog {
        max-width: 925px;
    }

    .movie-options-dialog-main {
        padding: 28px 42px;
    }
}