main{
    background: var(--color-background);
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    
    z-index: 5;

    overflow-y: hidden;
}

.livecontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    
}

.popularcontent{
    width: 100%;
    height: auto;
    display: flex;

    flex-direction: column;

    padding-top: 5%;
}
