#UserMenu-container .dropdown-container{
    overflow-y: auto;
}


#UserMenu-container .dropdown-content {
    max-height: calc(90vh - var(--nav-height) - 15px * 2);
    flex-direction: column;
}

@supports (height: 100dvh) {
    #UserMenu-container .dropdown-content {
        max-height: calc(100dvh - var(--nav-height) - 15px * 2);
    }
}