.settings-page {
    padding-top: var(--nav-height);
    display: flex;
    width: 100%;
    height: 100%;

    -webkit-font-smoothing: antialiased;
}

.settings-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f4f6;
    width: 100%;
    height: 100%;
}

.settings-form {
    display: flex;
    width: auto;
    max-width: 200px;
    width: 100%;
    height: auto;
    position: relative;
}

.settings-form input {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #c4cacf;
    border-radius: 3px;
    height: 40px;
    letter-spacing: 1px;
    opacity: .8;
    padding-left: 20px;
    

    font-family: 'Ember-regular';
    font-size: 15px;
    line-height: 36px;


    width: 100%;

    border-color: var(--__dChyWxpC1TxpMXs, #888c8c);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(15, 17, 17, .15) inset;
    outline: 0;
    position: relative;
}

.settings-options-children>p {
    margin-bottom: 21px;
}

.settings-page:has(.settings-options-children.success) .success-message-settings {
    display: flex;
}

.settings-page:has(.settings-options-children.error) .error-message-settings {
    display: flex;
}

.settings-page-content {
    padding-inline: 32px;
    padding-bottom: 24px;
    max-width: 1600px;
    width: 100%;
}

.settings-page-title-container {
    padding-block: 16px;
}


.settings-page-title-container h1 {
    font-family: 'Ember-bold';
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
}


.tablist-container {
    margin-bottom: 24px;
    position: relative;
}


.tablist {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


.tablist:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;

    border-bottom: 1px solid #c4cacf;
}



.tablist a {
    height: 100%;
    margin-right: 24px;
    text-decoration: none;
    font-family: 'Ember-regular';
    font-size: 15px;
    line-height: 36px;
    z-index: 2;
    color: #5d6872;
    border-bottom: 1px solid none;

    transition-delay: 0s;
    transition-duration: 0.2s;

    margin-bottom: -1px;
}

.tablist a:hover {
    cursor: pointer;
    color: #000;
}

.tablist a.active {
    color: #000;
    border-bottom: 1px solid #111111;
}

.success-message-settings {
    display: none;
    align-items: center;
    width: 100%;
    background-color: #e4fdbf;
    padding: 16px 48px;
    font-family: 'Ember-regular';
    color: rgb(3, 76, 38);
    font-size: 17px;
    line-height: 24px;
}

.success-message-settings svg {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.success-message-settings.success {
    display: flex;
}

.error-message-settings {
    display: none;
    align-items: center;
    width: 100%;
    background-color: #fdbfbf;
    padding: 16px 48px;
    font-family: 'Ember-regular';
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 24px;
}

.error-message-settings svg {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.error-message-settings.error {
    display: flex;
}


.setting-page-content-container {
    display: flex;
    flex-direction: column;

    border: 1px solid #c4cacf;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    height: auto;
}

.settings-page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(242, 244, 246);
    border: 1px solid #c4cacf;
    border-radius: 3px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    min-width: 100%;
    width: max-content;
    text-align: center;
    text-decoration-color: rgb(0, 0, 0);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: color;
    transition-timing-function: ease-in-out;
    vertical-align: top;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    color: rgb(0, 0, 0);
    text-decoration: none;

    font-family: 'Ember-regular';
    font-size: 17px;
    line-height: 20px;

    text-decoration: none;
}

.settings-page-btn svg {
    margin-right: 12px;
}


.settings-options-children .settings-page-btn {
    margin: 0px !important;
}

.settings-page-btn {
    margin-left: 12px;
}

.settings-page-btn:hover {
    background-color: #fff;
}

.settings-options-children {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.settings-options-children div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 12px;
}

.settings-options-children p {
    font-family: 'Ember-regular';
    font-size: 15px;
    line-height: 20px;
    color: #000;

    display: flex;
    align-items: center;
}




.settings-options-children h2 {
    font-family: 'Ember-bold';
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
}

.settings-options-children:not(:last-child) {
    border-bottom: 1px solid #c4cacf;
}

.settings-page-content {
    padding-inline: 16px;
}


.playback-option>div {
    display: flex;
    flex-direction: column !important;
}

.playback-option>div {
    margin-bottom: 16px;
}


.settings-radio-group {
    display: flex;
    flex-direction: column;
}


.settings-radio-group label {
    font-family: 'Ember-bold';
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
}

.settings-radio-group input {
    margin-inline: 4px;
}

.settings-radio-group label:hover {
    cursor: pointer;
}

.settings-options-children .plackback-description {
    margin-bottom: 16px;
}


.settings-options-avatar-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
}

.settings-options-avatar-container p {
    padding-left: 12px;
    color: #425265;
}


.settings-options-avatar-container img {
    width: 32px;
    height: 32px;
}




.language-radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.language-radio-group label {
    font-family: 'Ember-regular';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
    color: #000;
    display: flex;
    align-items: center;
}

.language-radio-group label:hover {
    cursor: pointer;
}

.language-radio-group input {
    margin-right: 8px;
}



.language-radio-group-container {
    display: flex;
    flex-direction: column !important;
}

.language-radio-group-container button {
    padding: 14px 20px;
    width: max-content;
    background-color: #252e39;
    color: #fff;
    border-radius: 3px;
    border: none;


    font-family: 'Ember-regular';
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;

    transition-delay: 0s;
    transition-duration: 0.2s;
}

.language-radio-group-container button:hover {
    cursor: pointer;
    background-color: #394758;
    color: #fff;
}


.delete-account-container{
    margin-top: 42px;
}

.delete-account-container input{
    min-height: 48px;
    width: 100%;
    max-width: 300px;

    padding: 8px;
}


.delete-buttons{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.delete-buttons button:hover {
    opacity: 0.7;
}
.delete-buttons button:nth-child(2) {
    background-color: rgb(206, 78, 78);
}





@media only screen and (max-width: 54.99em) {
    .tablist:after {
        left: 0;
        margin-left: -14px;
        margin-right: -14px;
    }

    .setting-page-content-container {
        margin-left: -16px;
        margin-right: -16px;
        border-radius: 0px;
    }

    .settings-form {
        width: 100%;
        min-width: 100%;
        margin-bottom: 20px;
    }
    .settings-form input {
        height: 50px;
    }
}




@media (min-width: 750px) {

    .settings-page-btn {
        min-width: 12em;
    }

    .settings-options-children div {
        flex-direction: row;
    }


}

@media (min-width: 880px) {
    .settings-options-children {
        padding: 24px;
    }

    .settings-page-content {
        padding-inline: 32px;
    }
}

@media (min-width: 1040px) {
    .tablist a {
        font-size: 17px;
    }

    .settings-page-content {
        padding-inline: 48px;
    }

    .settings-page-title-container {
        font-family: 'Ember-bold';
        font-weight: 700;
        font-size: 21px;
        line-height: 24px;
    }

    .settings-options-children p {
        font-family: 'Ember-regular';
        font-size: 17px;
        line-height: 24px;
    }

    .settings-page-title-container h1 {
        font-family: 'Ember-bold';
        font-weight: 700;
        font-size: 21px;
        line-height: 24px;
    }


    .settings-options-children h2 {
        font-family: 'Ember-bold';
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .settings-radio-group label {
        font-family: 'Ember-bold';
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 4px;
    }

    .language-radio-group label {
        font-size: 17px;
        line-height: 24px;
    }
}

@media (min-width: 1440px) {
    .settings-page-content {
        padding-inline: 50px;
    }
}