.Navigation {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: var(--nav-height);
    position: fixed;
    z-index: 999;


}

.Navigation:after {
    content: "";
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.04) 14.93%, rgba(0, 0, 0, 0.13) 30.32%, rgba(0, 0, 0, 0.25) 45.76%, rgba(0, 0, 0, 0.40) 60.85%, rgba(0, 0, 0, 0.55) 75.19%, rgba(0, 0, 0, 0.69) 88.37%, rgba(0, 0, 0, 0.80) 100%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    height: 75px;
    z-index: -1;
}



.nav-profiles {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    left: 0px;
    padding: 0px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: 0.2s ease-in-out;
    will-change: background-color, height;
    height: 72px;
    z-index: 10;
}

.nav-profiles button {
    padding: 0px 24px;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    transition: 0.2s ease-in-out;
    width: auto;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    visibility: visible;
    background: rgba(255, 255, 255, 0.2) !important;
    color: rgb(255, 255, 255) !important;

    border: 0;
    border-radius: .25rem;

    font-family: 'inspire-Heavy', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.6;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-logo-profiles {
    display: block;
    cursor: pointer;
    min-width: 62px;
    height: 38px;
    margin-right: 24px;
}

.nav-logo-profiles img {
    width: auto;
    height: 100%;
}



.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    position: relative;
}


.nav-content {
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    position: relative;
    align-items: center;

    transition: background-color .1s linear;

    padding-inline: 20px;
}

.suprime-logo-titles {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-content> :last-child {
    margin-left: auto;
}




.suprime-logo-titles div {
    padding-left: 12px;
    padding-right: 12px;

    height: 42px;
    text-wrap: nowrap;
    align-items: center;
    background: none;
    border: none;
    border-radius: 8px;
    border-top: 2px transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-style: normal;
    font-weight: 500;


    justify-content: start;
    text-decoration: inherit;
    transition-duration: .1s;
    transition-property: color, background-color, box-shadow;
    white-space: nowrap;
}

.suprime-logo-titles img {
    max-height: 28px;
}

.suprime-logo-titles:hover div {
    background-color: rgb(123, 38, 210);
    box-shadow: 0 -4px 28px 0 rgba(var(rgb(123, 38, 210), 255, 255, 255), .5);
}









.NavLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 36px;
}


.NavLogo img {
    max-width: 68px;
}


.nav-content-align {
    display: flex;
    width: 100%;
    height: 100%;
}

f #lang-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    user-select: none;
}





@keyframes wipe-in-down {
    from {
        clip-path: inset(0 0 100% 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

[transition-style="in:wipe:down"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
}








#MultiLang {

    padding: 8px 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;

    cursor: pointer;

    border-radius: 6px;
}

#MultiLang svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 300ms ease-in-out;
}

#MultiLang p {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
}

#MultiLang:hover {
    background-color: #36353680;
    transition: all 0.3s ease-in-out;
}

#MultiLang:active {
    background-color: #808080;
}

#lang-container.active #select-options {
    display: flex;
}

#lang-container.active svg {
    transform: rotateX(180deg);
}



#select-options {
    display: none;
    position: absolute;
    flex-direction: column;

    min-width: 300px;
    gap: 0px;
    border-radius: 10px;
    right: 0;
    top: 40px;

    background-color: #15161C;

    animation: 0.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;

    overflow: hidden;
}

#select-options span {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 5px 20px;
}



#select-options span:hover {
    background-color: #57575759;
}

#select-options span:active {
    background-color: #575757c7;
}



#select-options input[type="radio"] {
    display: none;
}

#select-options label {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    color: #FFFF;

    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;


    padding: 10px 0px;

    cursor: pointer;

    border-radius: 5px;

    user-select: none;

}

#select-options label:before {
    content: "";
    height: 16px;
    width: 16px;

    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-right: 10px;

    z-index: 50;
}

#select-options input[type="radio"]:checked+label {
    font-family: 'Gilroy-bold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
}

#select-options input[type="radio"]:checked+label::before {
    height: 10px;
    width: 10px;
    border: 5px solid #F9CC0D;
}



.nav-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}







.hamMenu-container {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1px;
    width: auto;
    height: 100%;
    position: relative;
}







.hamMenu-container .hamMenu-containerChevron {
    transition: all 0.3s ease-in-out;
}

.hamMenu-container.ativo .hamMenu-containerChevron {
    transform: rotate(180deg);
}


.hamMenu-container svg {
    width: 1rem;
    height: 1rem;
}

.hamMenu-container-ul {
    width: 100%;
    height: 100vh;

    display: none;
    flex-direction: column;

    position: absolute;

    top: var(--nav-height);
    left: 0;
    gap: 1.5rem;
    padding-top: 1rem;

    background: #191E25;
}

.hamMenu-container-li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    width: 100%;
    padding-inline: 1.6rem;
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    font-weight: 600;
    font-size: 1rem;
    color: #aaa;
}

.btnMenu {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    user-select: none;
    border-radius: 8px;
    padding-inline: 12px;
    background: none;
    border: 0;
    max-height: 38px;
    color: #fff;
}

.btnMenu>p {
    font-family: 'Gilroy-bold';
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}


.btnMenu:hover {
    background-color: white;
    cursor: pointer;
}

.btnMenu:hover>p {
    color: #000000;
}

.btnMenu:hover>svg {
    stroke: #000000;
    transform: rotateX(180deg);
}


















.separator-div {
    margin-left: 14px;
    margin-right: 14px;
}

.separator-div div {


    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);

    box-sizing: content-box;
    color: rgb(255, 255, 255);
    cursor: auto;
    display: block;
    font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0px;
    pointer-events: all;
    position: relative;
    rotate: 0deg;
    text-size-adjust: auto;
    unicode-bidi: isolate;
    visibility: visible;
    width: 2px;
    -webkit-font-smoothing: antialiased;
}

.subscriptions {
    padding-left: 12px;
    padding-right: 12px;
}

.SubscriptionSvg {
    width: 19px;
    height: 19px;
}






.nav-bubble-list {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}



.nav-bubble-list li button svg {
    width: 19px;
    height: 19px;
    color: white;
}


.nav-bubble-list li button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.nav-bubble-list li button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.nav-bubble-list li button:hover svg {
    color: #000000;
}



.nav-bubble-list>li:nth-child(2),
.nav-bubble-list>li:nth-child(3) {
    display: flex;
}


.nav-content>p {
    font-size: 14px;
}




.Navigation.active .nav-content {
    background-color: #080809;
}


.NavigationLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    list-style: none;
        padding: 0;
}

.NavigationLinks li {
    display: none;
    align-items: center;
    text-transform: uppercase;
}

.NavigationLinks li:nth-child(-n+3) {
    display: flex;
}


.NavigationLinks li:not(:last-child) {
    margin-right: 24px;
}




.NavigationLinks li a {
    display: flex;
    align-items: flex-end;
    color: white;
    text-decoration: none;

    font-family: 'Inspire-Black';

    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.42px;
}

.NavigationLinks li a span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.NavigationLinks li:hover a span {
    position: relative;
}

.NavigationLinks li a span:after {
    content: "";
    position: absolute;
    width: 0px;
    transform: scaleX(0);
    height: 2px;
    bottom: -6px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    transform-origin: right bottom;
    transition: transform 0.25s ease-out;
}

.NavigationLinks li:hover a span:after {
    transform: scaleX(1);
    transform-origin: left bottom;
    width: 100%;
}



.NavigationLinks li a p {
    display: none;
    align-self: center;
    position: relative;
    line-height: 0;
}

.NavigationLinks li a p::after {
    content: "";
    position: absolute;
    width: 0px;
    transform: scaleX(0);
    height: 2px;
    top: 12px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    transform-origin: right bottom;
    transition: transform 0.25s ease-out;

}

.NavigationLinks li:hover a p::after {
    transform: scaleX(1);
    transform-origin: left bottom;
    width: 100%;
}





.nav-menu {
    height: var(--nav-height);
    max-height: calc(-40px + 100vh);
    padding: 0px 20px;
    z-index: 20;
    -webkit-box-align: center;
    width: auto;
    border: 1px;
    display: flex;
    flex-flow: wrap;
    list-style: none;
    margin: 0px;
    position: absolute;
    right: 0px;
    top: 0;
    -webkit-box-pack: end;
    justify-content: flex-end;
    border: 1px solid transparent;

    transition-duration: 300ms;
    transition-property: max-height, height, padding;
    transition-timing-function:
        ease-in-out;
}

.Card-Profile-Flex {
    text-decoration: none;
}

.nav-menu.active {
    width: 240px;
    height: auto;
    background: rgb(19, 19, 19);
    border: 1px solid rgba(151, 151, 151, 0.34);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 18px 0px;
    border-radius: 4px;
    padding: 0px 20px 20px;
}

.nav-menu.active .nav-menu-separator {
    width: 200px;
    opacity: 1;
}

.nav-menu.active .nav-menu-list-itens {
    width: 200px;
    opacity: 1;
}

.nav-menu.active .nav-menu-item {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s;
    width: 199px;
}



.nav-menu-separator {
    opacity: 0;
    transition: opacity 500ms 500ms;
    width: 0;

    background-color: rgba(249, 249, 249, 0.1);
    display: flex;
    height: 1px;
    margin: 0px 0px 8px;

}

.nav-menu-show-btn {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    opacity: 1;
    padding: 8px 0px;
    position: relative;
    text-align: left;
    transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms;
    width: auto;
    height: 72px;

    font-family: 'Inspire-Roman', sans-serif;
    font-size: 15px;
    letter-spacing: -.1px;
    line-height: 1.6;


}

.nav-menu-show-btn a {
    display: flex;
    text-decoration: none;
    color: white;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    align-items: center;
}

.nav-menu-show-btn a p {
    margin-left: 16px;
    margin-right: 16px;
    height: max-content;

    display: none;
}

.nav-menu-profile-pic {
    display: block;
    cursor: pointer;
    position: relative;
    height: 36px;
    width: 36px;
    background: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50)) 0% 0% / contain;
    border-radius: 50%;
    margin: auto;
    transition: 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.nav-menu-profile-pic.add-new-profile-btn {
    background: inherit;
    background-color: rgba(249, 249, 249, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-profile-pic.add-new-profile-btn svg {
    fill: white;
    width: 24px;
    height: 24px;
}



.nav-menu-list-itens {
    display: flex;
    flex-direction: column;

    height: 100%;
    max-height: calc(-135px + 100vh);
    overflow: hidden auto;
}



.nav-menu-item {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    opacity: 1;
    overflow: hidden;
    padding: 8px 0px;
    position: relative;
    text-align: left;
    transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms;
    width: 0;

    font-family: 'Inspire-Roman', sans-serif;
    font-size: 15px;
    letter-spacing: -.1px;
    line-height: 1.6;

    color: #cacaca;


}


.nav-menu-item {
    margin: 0;
}

.nav-menu-item:hover p {
    color: white;
}



.nav-menu-item.nopic a p {
    margin: 0;
}

.nav-menu-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.nav-menu-item a p {
    margin-left: 16px;
    max-width: 200px;
    height: max-content;
    width: auto;
    display: flex;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.add-profile {
    height: 36px;
    margin-bottom: 8px;
    width: 36px;

    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(249, 249, 249, 0.1);
    border: none;
    border-radius: 48px;
    display: flex;

    -webkit-box-pack: center;
    justify-content: center;

}

.add-profile svg {
    height: 18px;
    width: 18px;

    fill: white;
}

.nav-menu-item:hover .add-profile {
    background-color: rgba(249, 249, 249, 0.2);
}



@media screen and (max-width: 599px) {
    .Navigation {
        --nav-content-padding: 8px;
    }

    .btnMenu {
        font-size: 16px;
    }
}

@media screen and (min-width: 600px) {
    .btnMenu {
        font-size: 18px;
    }

    .Navigation {
        --nav-content-padding: 4px;
    }
}

@media screen and (min-width: 680px) {

    .Navigation {
        --nav-content-padding: 12px;
    }

}


@media (min-width: 768px) {
    .nav-menu-profile-pic {
        height: 48px;
        width: 48px;
    }

    .nav-logo-profiles {
        min-width: 86px;
        height: 48px;
        margin-right: 32px;
    }

    .nav-profiles {
        padding: 0px 36px;
    }

    .NavLogo {
        margin-right: 52px;
    }


    .NavigationLinks li:not(:last-child) {
        margin-right: 36px;
    }


    .NavLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 52px;
    }


    .NavLogo img {
        max-width: 90px;
    }

    .nav-content {
        padding-left: 36px;
    }


    .add-profile {
        width: 48px;
        height: 48px;
    }

    .add-profile svg {
        width: 24px !important;
        height: 24px !important;
    }

    .NavigationLinks li {
        display: flex;
    }


}


@media screen and (max-width: 879px) {
    .btnMenu {
        max-height: 100%;
    }

    .nav-bubble-list>li:nth-child(2),
    .nav-bubble-list>li:nth-child(3) {
        display: none;
    }

    #lang-container {
        display: none;
    }





    .nav-content {
        justify-content: space-between;
    }


}


@media screen and (min-width: 880px) {
    .btnMenu {
        font-size: 14px;
    }


    .Navigation {
        --nav-content-padding: 18px;
    }


}
@media (min-width: 1024px) {
    .Navigation:after {
        height: 170px;
    }
}

@media screen and (max-width: 1038px) {
    .hamMenu-container {
        display: flex;
    }
}





@media screen and (max-width: 1105px) {
    .suprime-logo-titles {
        display: none;
    }
}



@media screen and (min-width: 1280px) {





    .subscriptions {
        padding-left: 14px;
        padding-right: 14px;
    }


    .suprime-logo-titles div {
        padding-left: 14px;
        padding-right: 14px;
    }

}


@media screen and (min-width: 1440px) {
    .Navigation {
        height: 66px;
        --nav-content-padding: 21px;

    }

    .NavigationLinks li a p {
        display: flex;
    }



    .NavigationLinks ul li {
        display: block;
    }

    .NavigationLinks li a span:after {
        display: none;
    }

    .nav-menu-show-btn a p {
        display: flex;
    }

    .NavigationLinks li span {
        margin-right: 8px;
    }

    .nav-menu {
        width: 240px;
    }
}