.hero-carousel-Item {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    scroll-snap-align: start;
    will-change: transform;

}


.hero-carousel-container-image {

    overflow: hidden;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
    -webkit-font-smoothing: subpixel-antialiased;

    border-radius: 4px;
}

.hero-carousel-container-image::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;

    background:

        linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 70%),

        linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 2%, transparent 60%);
}


.hero-carousel-container-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
    z-index: 1;
    opacity: 0.1;

    pointer-events: none;

}

.hero-carousel-Item.skeleton {
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to right, #0000, #00000080 8px, #00000080 calc(var(--basj100) * .85), #000 calc(var(--basj100) + (10px * .85)), #000 calc(100% - calc(var(--basj100) + (10px * .85))), #00000080 calc(100% - calc(var(--basj100) * .85)), #00000080 calc(100% - 8px), #0000);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5) 8px, rgba(0, 0, 0, .5) calc(var(--basj100) * .85), rgba(0, 0, 0, 1) calc(var(--basj100) + (10px * .85)), rgba(0, 0, 0, 1) calc(100% - calc(var(--basj100) + (10px * .85))), rgba(0, 0, 0, .5) calc(100% - calc(var(--basj100) * .85)), rgba(0, 0, 0, .5) calc(100% - 8px), rgba(0, 0, 0, 0));
    -webkit-mask-composite: source-in;
    animation: skeleton-loading 1.5s infinite linear;

}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.hero-carousel-container-image img {
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    opacity: 1;

    border-style: none;
    box-sizing: border-box;

    object-fit: cover;
    object-position: center 10%;
}

.hero-carousel-Item.active .hero-carousel-container-image img {
    transform: scale(1);
    transition: transform 667ms ease-in-out;
    transition-delay: 0.1s;
}

.hero-carousel-Item:not(.active) .hero-carousel-container-image img {
    transform: scale(1.03);
    transition: transform 0s linear;
}











.hero-carousel-Item>a {
    width: 100%;
    transform: scale(1) translateZ(0);
    transition-property: transform;
    display: block;
    text-decoration: inherit;
    color: inherit;
    position: relative;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    box-sizing: border-box
}


.hero-carousel-Item-Container {
    display: flex;
    box-shadow: #000000b0 0 26px 30px -10px, #000000ba 0 16px 10px -10px;
    position: relative;
    width: 100%;
    height: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    transition-timing-function: ease-out;
    cursor: pointer;
    transition-duration: .3s;
    border-radius: inherit;
    background: #2d2f36;
    box-sizing: border-box;
    aspect-ratio: 4 / 5;

}


.hero-carousel-Item-Container:hover::before {
    opacity: 1;
}

.hero-carousel-Item-Container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    outline: 3px solid #FFFFFF;
    outline-offset: 0px;
    opacity: 0;
    transition: opacity .3s ease;

    -webkit-font-smoothing: subpixel-antialiased;
    cursor: pointer;
    color: inherit;
}





.hero-carousel-Item.center {
    transform: scale(1.1);
    opacity: 1;
    z-index: 2;
}

.hero-carousel-Item.side {
    transform: scale(0.8);
    opacity: 0.6;
    z-index: 1;
}


.hero-carousel-info-container {

    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.hero-carousel-info-container .channel-logo {
    opacity: 1;
    right: 0;
    position: absolute;
    margin-right: 16px;
    box-sizing: border-box;
    z-index: 4;
    max-width: 50px;
    max-height: 50px;
}

.hero-carousel-info-container .channel-logo img {
    width: 100%;
    border-style: none;
}





.hero-carousel-info-content {
    flex: 1;
    height: 100%;
    max-width: 80%;
    width: 330px;

    display: flex;

    flex-direction: column;
    justify-content: end;
    align-items: center;

    margin-top: 0;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.hero-carousel-info-content-logo img {
    opacity: 1;
    transform: translate(0px);

    max-height: 104px;
    max-width: 240px;
    object-position: left;

    object-fit: contain;
    border-style: none;
    box-sizing: border-box;
}






.hero-carousel-info-content-text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: opacity 667ms ease-in-out;
}

.hero-carousel-Item.active .hero-carousel-info-content-text {
    opacity: 1;
    transition-delay: .5s;
}

.hero-carousel-Item:not(.active) .hero-carousel-info-content-text {
    transition-delay: 0s;
}




.hero-carousel-info-content-text-1 {
    font-family: 'Inspire-Medium', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .11px;
    line-height: 1.5;
    margin-top: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;


}


.hero-carousel-info-content-text-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.hero-carousel-info-content-text-2 .text-2-span {
    display: block;
    color: #b7b8bd;
    font-family: 'Inspire-Roman', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.1px;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

    text-align: center;
}

.hero-carousel-info-content-logo-title {
    font-family: 'Inspire-Heavy', sans-serif;

    font-size: 15px;
    font-weight: 700;
    letter-spacing: .11px;
    line-height: 1.6;
}




@media (min-width: 480px) {
    .hero-carousel-Item-Container {
        aspect-ratio: 3 / 1;
    }

    .channel-logo {
        margin-right: 20px;
    }

    .channel-logo {
        bottom: 0;
    }

    .hero-carousel-info-container {
        justify-content: center;
    }

    .channel-logo {
        margin-bottom: 20px;
    }

    .hero-carousel-info-content {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: flex-start;
        margin-left: 0;
        margin-bottom: auto;
        margin-top: auto;
        padding-right: 36px;
        padding-left: 36px;
    }

    .hero-carousel-info-content-logo {
        display: flex;
        max-height: 30%;
        max-width: 100%;
        width: 210px;
    }

    .hero-carousel-info-content-logo img {
        max-height: 100%;
        max-width: 100%;
    }



    .hero-carousel-info-content-text {
        font-size: 10px;
        font-weight: 700;
        line-height: 1.4;
    }

    .hero-carousel-info-content-text {
        max-width: 100%;
        width: 210px;
        text-align: left;
    }

    .hero-carousel-info-content-text-1 {
        font-size: 10px;
        font-weight: 700;
        line-height: 1.4;
    }

    .hero-carousel-info-content-text-2 {
        opacity: 0;
        justify-content: left;
    }

    .hero-carousel-info-content-logo-title {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .11px;
        line-height: 1.5;
    }


}

@media (min-width: 768px) {
    .hero-carousel-info-content {
        margin-bottom: 0;
        padding-right: 60px;
        padding-left: 60px;
    }

    .hero-carousel-info-content-logo {
        width: 287px;
    }

    .hero-carousel-info-content-text {
        width: 287px;
    }

    .hero-carousel-info-content-text-2 {
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    .channel-logo {
        max-width: 64px;
        max-height: 64px;
    }

    .hero-carousel-info-content {
        padding-right: 76px;
        padding-left: 76px;
    }

    .hero-carousel-info-content-logo {
        width: 410px;
    }

    .hero-carousel-info-content-text {

        font-size: 12px;
        font-weight: 700;
        letter-spacing: .11px;
        line-height: 1.5;
    }

    .hero-carousel-info-content-text {
        width: 410px;
    }


    .hero-carousel-info-content-text-1 {
        margin-top: 12px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .11px;
        line-height: 1.5;
    }

    .hero-carousel-info-content-logo-title {
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .11px;
        line-height: 1.6;
    }

}

@media (min-width: 1440px) {
    .hero-carousel-info-content-text-1 {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .11px;
        line-height: 1.6;
    }


    .hero-carousel-info-content-logo-title {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: .11px;
        line-height: 1.4;
    }
}