.MovieContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    z-index: 50;

    padding-top: calc(var(--nav-height));

    --dv-nav-height: 0px;
    --dv-pvnav-height: 38px;


}


.MovieContainer .Menu-Slider {
    display: none;
}

.movie-details-btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    gap: 8px;
}

.movie-details-btns div {
    display: flex;
    flex-direction: column;

    gap: 8px;
}


.content-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-inline: var(--inner-width);
}


.content-btns .IncludeBD {
    display: flex;
    color: white;

    align-items: center;
    flex-direction: row;
    gap: 8px;

    font-family: 'ember-medium';

    font-size: 14px;
}

.content-btns .IncludeBD svg {
    width: 16px;
    height: 16px;
    color: #1A98FF;
}

.content-btns .movie-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 32px;

    align-items: center;

}

.movie-details-btns .play-btn {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    font-family: "Ember-Regular", "Amazon Arabic Ember", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 19px;
    margin-bottom: 0px;

    padding-inline: 12px;
    padding-block: 5px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);

    text-size-adjust: 100%;

    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: transform, background-color, color, outline, -webkit-transform;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    vertical-align: baseline;

    will-change: transform;
    -webkit-font-smoothing: antialiased;

    gap: 8px;
}

.play-btn-2 {
    width: auto;
    height: auto;


    display: none;
    flex-direction: row;

    overflow: visible;
    align-items: center;


}



.play-btn-2:hover img {
    transform: scale(1.2);
}

.play-btn-align {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    cursor: pointer;

    height: 72px;
}

.play-btn-align p {
    font-family: 'ember-bold';
    color: #ffffff;
    font-size: 18px;
}

.play-btn-align img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    box-sizing: content-box;
    padding: 8px;
}


.time-info .ageClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1px;
    text-align: center;
}

.time-info .ageClass h3 {
    font-size: 0.7rem;
    padding: 0.3rem 0.4rem;
    border-radius: 3px;

    align-items: center;
    text-align: center;
    align-self: center;

    font-family: 'Ember-regular';
}



.movie-details-btns .download-btn {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-family: "Ember-Regular", "Amazon Arabic Ember", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 19px;
    margin-bottom: 0px;

    padding-inline: 12px;
    padding-block: 5px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);

    text-size-adjust: 100%;

    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: transform, background-color, color, outline, -webkit-transform;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    vertical-align: baseline;

    will-change: transform;
    -webkit-font-smoothing: antialiased;

    gap: 8px;
}


.download-btn:hover, .play-btn:hover {
    background-color: #FFFFFF;
}

.download-btn:hover {
    transform: scale(1.1);
    color: black;
}

.play-btn:hover {
    transform: scale(1.05);
}


.current-media {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 14px;


    z-index: 2;

    user-select: none;
}


.Movie {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    position: relative;
}

.MoviePlayer {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -2;

    padding-bottom: 50px;


}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.movie-image-container {
    width: 100%;
    height: auto;
    position: relative;
}

.movie-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mute-btn {
    opacity: 0%;
    visibility: hidden;


    cursor: pointer;
    user-select: initial;
    z-index: 5;

    width: 44px;
    height: 44px;

    right: 0;
    top: 0;
    margin-inline: 18px;
    margin-block: 18px;

    align-items: center;
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 5, 13, 0.4);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10000px;
    border-bottom-right-radius: 10000px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 10000px;
    border-top-right-radius: 10000px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);

    display: flex;


    justify-content: center;
    letter-spacing: normal;

    position: absolute;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;


    padding: 10px;

    transition: all 2s ease-in-out;
}


.background-container.activeMedia .mute-btn {
    opacity: 100%;
    visibility: visible;
}

.mute-btn svg {
    color: rgb(255, 255, 255);

    width: 100%;
    height: 100%;
}


.mute-btn:active svg {
    color: black;
}

.mute-btn:active {
    background-color: white;
}

.mute-btn:hover {
    transform: scale(1.1);
}



.img-container {
    left: 0;
    position: absolute;

    z-index: -3;
}

.background-container {
    align-items: start;
    display: flex;
    justify-content: center;
    max-height: calc(100vh - var(--dv-nav-height) - var(--dv-pvnav-height));
    overflow-y: hidden;
    padding-bottom: 1px;

    width: 100%;
    height: auto;
}

.background-container:before {
    content: "";
    display: block;
    height: 30vw;
    min-height: 100px;
    width: 100%;
}



.background-container img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 3;

    opacity: 100%;

    transition: all 2s ease-in-out;

    filter: brightness(1);

    user-select: none;
}

.background-container.activeMedia img {
    filter: brightness(0.1);

    opacity: 0%;
}

.MovieInner {
    width: 100%;
    height: calc(100vh - var(--nav-height));
    min-height: 680px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.MoviesForYou {
    width: 350px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.background-filter {
    display: none;

    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;


    background: rgb(0, 5, 13);
    background: -moz-linear-gradient(90deg, rgba(0, 5, 13, 1) 9%, rgba(0, 5, 13, 0.8827906162464986) 22%, rgba(0, 5, 13, 0) 69%);
    background: -webkit-linear-gradient(90deg, rgba(0, 5, 13, 1) 9%, rgba(0, 5, 13, 0.8827906162464986) 22%, rgba(0, 5, 13, 0) 69%);
    background: linear-gradient(90deg, rgba(0, 5, 13, 1) 9%, rgba(0, 5, 13, 0.8827906162464986) 22%, rgba(0, 5, 13, 0) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00050d", endColorstr="#00050d", GradientType=1);


    z-index: 2;

    user-select: none;
}

.background-filter2 {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgb(0, 5, 13);
    background: -moz-linear-gradient(0deg, rgba(0, 5, 13, 1) 2%, rgba(0, 5, 13, 0.7315301120448179) 17%, rgba(0, 5, 13, 0.5158438375350141) 30%, rgba(0, 5, 13, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 5, 13, 1) 2%, rgba(0, 5, 13, 0.7315301120448179) 17%, rgba(0, 5, 13, 0.5158438375350141) 30%, rgba(0, 5, 13, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 5, 13, 1) 2%, rgba(0, 5, 13, 0.7315301120448179) 17%, rgba(0, 5, 13, 0.5158438375350141) 30%, rgba(0, 5, 13, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00050d", endColorstr="#00050d", GradientType=1);

    z-index: 2;

    user-select: none;
}





.MovieList {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: auto auto;
    /* Duas colunas na horizontal */
    grid-template-rows: repeat(2, auto);
    /* Três linhas */
    gap: 10px;
    /* Espaço entre os elementos */
}

.MovieTitle {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.time-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 16px;

    padding-inline: var(--inner-width);
}

.time-info p {
    font-family: 'Ember-bold';

    font-size: 16px;
    color: rgb(153, 153, 153);
}




.MovieTitle p {
    font-size: 32px;


    font-family: 'Ember-bold', sans-serif;


    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: default;
    display: -webkit-box;
    font-weight: 900;
    height: 67.1875px;
    letter-spacing: 0.5px;
    line-height: 67.2px;
    overflow-x: hidden;
    overflow-y: hidden;

    text-size-adjust: 100%;

    -webkit-box-orient: vertical;
    -webkit-font-smoothing: antialiased;
    -webkit-line-clamp: 3;
}




.genres {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    list-style-type: none;
}

.genres li {
    cursor: pointer;

    transition: all 0.3s ease-in-out;



    display: flex;
    flex-direction: row;


}

.genres li:hover {}

.genres h5 {
    box-sizing: border-box;
    color: rgb(170, 170, 170);
    cursor: default;
    display: block;
    font-family: 'Amazon Ember', 'Amazon Arabic Ember', Arial, sans-serif;
    font-size: 16px;
    font-weight: 900;
    height: 22.3906px;
    letter-spacing: 0.32px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
    padding-bottom: 6.4px;
    text-size-adjust: 100%;
    vertical-align: top;
    width: 5.39062px;
    -webkit-font-smoothing: antialiased;
}



.genres p {
    font-family: 'ember-bold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: underline white;
}









.MovieDescriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;

    padding-inline: var(--inner-width);

    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: default;
    display: block;
    font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;

    letter-spacing: normal;
    line-height: 25px;
    margin-bottom: 0px;

    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    text-size-adjust: 100%;

    -webkit-font-smoothing: antialiased;

}


.MovieDescriptionContainer p {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: default;
    display: -webkit-box;
    font-family: 'Ember-bold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;

    letter-spacing: normal;
    line-height: 28px;


    -webkit-line-clamp: 5;
    /* Número de linhas para exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.info-details {
    width: 100%;
    height: auto;

    box-shadow: 0px -15px 30px rgb(0, 5, 13);

    z-index: 10;
}

.info-details .SectionTitle {
    margin-top: 40px;
    height: 40px;
}

.description-and-genres {
    display: flex;
    flex-direction: column;

    gap: 16px;
    margin-bottom: 8px;
}

.description-and-genres .genres {
    padding-inline: var(--inner-width);
}

.MovieContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    margin-bottom: 50px;


    gap: 32px;

    margin-top: var(--dvui-spacing-800);

}

.selectSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;

    text-decoration: none;



}

.selectSection .select {
    text-decoration: none;
    color: #AAAAAA;

    font-size: 20px;
    font-family: 'ember-bold';

    margin-inline: 12px;
    padding-inline: 5px;
    padding-block: 8px;

    border-bottom: solid 3px transparent;

    cursor: pointer;

    z-index: 20;
}

.select {
    transition: all 0.3s ease-in-out;
}



.selectSection .select.active {
    border-bottom: solid 3px white;
    color: #FFFFFF;
}

.select:hover {
    color: #FFFFFF;
}




.MoviePanel {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    padding-inline: var(--inner-width);

    margin-bottom: 16px;
}



.MovieBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 4px;

    color: #FFFFFF;

    font-family: 'ember-medium';

    overflow: visible;

    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}



.MovieBtns::-webkit-scrollbar {
    display: none;
}







.MovieBtn, .like-btn {
    align-items: center;
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10000px;
    border-bottom-right-radius: 10000px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 10000px;
    border-top-right-radius: 10000px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 500;
    height: 44px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-bottom: 0px;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    position: relative;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: transform, background-color, -webkit-transform;
    transition-timing-function: ease-in-out;
    width: 44px;
    will-change: transform, background-color;
    word-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
}


.MovieBtn:hover, .like-btn:hover {
    background-color: #FFFFFF;
    transform: scale(1.1);
}

.MovieBtn:hover svg, .like-btn:hover svg {
    color: black;
}



.MovieBtn::after, .like-btn::after {
    content: attr(data-name);
    display: none;
    position: absolute;
    top: 5rem;
    text-wrap: nowrap;
    background-color: #FFFFFF;
    color: black;
    padding: 6px 10px;
    border-radius: 8px;

    font-family: 'ember-medium';

    font-size: 18px;
    letter-spacing: 2px;


    -webkit-animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


.MovieBtn:hover::after, .like-btn:hover::after {
    display: flex;
}



.MovieBtns svg {
    width: 24px;
    height: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}


.MovieBtns span:hover {
    color: #FFFFFF;
}


.like-group-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;

    height: 100%;
    width: auto;
}

.Recomentations-info {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: column;
    font-family: 'ember-bold';
    padding-inline: var(--inner-width);

    margin-block: 20px;
}

.info-container h2{
    color: #FFFFFF;
    font-size: 18px;
}

.info-item {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}
.info-item a{
    color: #FFFFFF;
}
.info-item p{
    font-size: 18px;
    color: rgb(170, 170, 170);
}


@media (max-width: 1180px) {
    .MoviesForYou {
        display: none;
    }

}

@media (max-width: 790px) {
    .MoviePanel {
        flex-direction: column;
        align-items: flex-start;


    }

    .current-media {
        padding-inline: 0;
    }

}

@media (min-width: 447px) {
    .background-filter {
        display: flex;
    }

}

@media (max-width: 600px) {


    .movie-details-btns .btn .play-btn {
        width: 100%;
    }

    .movie-details-btns .btn .download-btn {
        width: 100%;
    }

}

@media (min-width: 600px) {
    .MovieDescriptionContainer p {
        font-size: 18px;
    }

    .mute-btn {
        padding: 10px;
        width: 50px;
        height: 50px;
    }


    .time-info p {
        font-size: 18px;
    }

    .genres p {
        font-size: 18px;
    }

    .content-btns .IncludeBD svg {
        width: 18px;
        height: 18px;
    }

    .MovieBtn, .like-btn {

        height: 50px;

        width: 50px;

    }


    .movie-details-btns {
        width: auto;

    }

    .movie-details-btns {
        flex-direction: row;
        width: auto;

        font-size: 18px;
    }

    .movie-details-btns .btn .play-btn {
        width: auto;
        gap: 0px;
    }

    .movie-details-btns .btn .download-btn {
        align-items: center;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(255, 255, 255, 0.2);
        background-image: none;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(255, 255, 255);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(255, 255, 255);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(255, 255, 255);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: flex;
        font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        height: 54px;
        justify-content: center;
        letter-spacing: normal;
        line-height: 22px;
        margin-bottom: 0px;
        min-height: 54px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        text-decoration-color: rgb(255, 255, 255);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-size-adjust: 100%;
        transition-behavior: normal;
        transition-delay: 0s;
        transition-duration: 0.2s;
        transition-property: transform, background-color, color, outline, -webkit-transform;
        transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
        vertical-align: baseline;
        width: 150.797px;
        will-change: transform;
        -webkit-font-smoothing: antialiased;

    }


    .MovieBtns svg {
        width: 27px;
        height: 27px;
    }


    .content-btns {
        order: 4;
    }

    .movie-details-btns {
        padding-inline: 0;


    }

    .MovieBtns {
        padding-inline: 0;
    }
}

@media (min-width: 880px) {
    .mute-btn {
        width: 55px;
        height: 55px;
    }

    .MoviePanel {
        margin-bottom: 24px;
    }

    .MovieBtns {
        gap: 8px;
    }

    .content-btns .IncludeBD svg {
        width: 20px;
        height: 20px;
    }

    .content-btns .IncludeBD {
        font-size: 16px;
    }


    .MovieTitle p {
        font-size: 36px;
    }

    .play-btn-2 {
        display: flex;
    }

    .MovieBtns svg {
        width: 30px;
        height: 30px;
    }

    .movie-details-btns {
        display: none !important;
    }

    .info-details {
        width: 100%;
        height: 600px;

        overflow: hidden;
    }

    .play-btn-2 {
        gap: 0;
        position: relative;
    }
}

@media (min-width: 1280px) {
    .MovieDescriptionContainer p {
        font-size: 20px;
    }

    .mute-btn {
        width: 61px;
        height: 61px;
    }

    .MovieDescriptionContainer {
        max-width: 60%;
    }

    .play-btn-align {
        height: 80px;
    }

    .time-info p {
        font-size: 20px;
    }

    .genres p {
        font-size: 20px;
    }

    .MoviePanel {
        margin-bottom: 36px;
    }

    .content-btns .IncludeBD svg {
        width: 22px;
        height: 22px;
    }

    .content-btns .IncludeBD {
        font-size: 18px;
    }

    .MovieTitle p {
        font-size: 50px;
    }

    .MovieBtn, .like-btn {
        width: 61px;
        height: 61px;
    }

    .MovieBtns svg {
        width: 33px;
        height: 33px;
    }
}






@media (max-width: 480px) {
    .Movie {
        padding: 0;
    }

}

@media (min-width: 1380px) {
    .info-details {
        width: 100%;
        height: 700px;


    }

}