.poster-section-title {
    padding-inline: var(--inner-width);
    padding-bottom: 3rem;

    display: flex;
    justify-content: space-between;

}






.poster-slider {
    margin-bottom: 24px;
    position: relative;
}

.poster-section-title h2 {
    font-family: 'Gilroy-Bold';
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}


.poster-content {
    --dv-column-margin: var(--inner-width);
    --dv-carousel-min-target: 44px;
    --dv-screen-width: Max(100vw);
    --dv-supercarousel-card-number: var(--override-dv-supercarousel-card-number, 2);
    --dv-carousel-column-gap: 12px;
    --supercarousel-height: calc(((var(--dv-screen-width) - 2*var(--inner-width) - (var(--dv-supercarousel-card-number) - 1)*var(--dv-carousel-column-gap))/var(--dv-supercarousel-card-number))/0.66667);
    --supercarousel-expanded-card-width: calc(var(--supercarousel-height)*1.77778);
    --default-card-width: calc(var(--supercarousel-height)*.66667);
}

.poster-content {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: repeat(2, var(--dv-carousel-min-target));
    grid-template-rows: 1fr;
    justify-content: space-between;
    overflow: hidden;

    min-width: 320px;
    box-sizing: inherit;

    height: var(--supercarousel-height);
    position: relative;
}









.poster-content::-webkit-scrollbar {
    display: none;
}


.poster-content ul li {
    list-style: none;

}




.poster-slide-list {
    grid-column: left-start/right-end;
    grid-row: 1;
    z-index: 1;
    display: flex;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: var(--supercarousel-height);



    padding-inline: var(--inner-width);
    scroll-padding-inline: var(--inner-width);

    scroll-snap-type: x mandatory;
}




.poster-slide-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}



.poster-content:hover .posterPrevBtn {
    display: grid !important;
}

.poster-content:hover .posterNextBtn {
    display: grid !important;
}




.posterNextBtn span, .posterPrevBtn span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posterNextBtn span svg, .posterPrevBtn span svg {
    color: white;
    width: 36px;
    height: 36px;
}




.posterNextBtn {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.posterPrevBtn {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

}



.posterNextBtn {
    display: none !important;
    align-self: center;
    height: 50%;
    grid-area: right;
    position: relative;
    cursor: pointer;

    background-color: rgba(0, 5, 13, .5);


    z-index: 20;
}




.posterPrevBtn {

    display: none !important;
    align-self: center;
    height: 50%;
    grid-area: left;
    position: relative;
    cursor: pointer;

    background-color: rgba(0, 5, 13, .5);


    z-index: 20;
}






.posterPrevBtn:hover {
    cursor: pointer;
}


.posterNextBtn svg {
    width: 24px;
    height: 31px;
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posterPrevBtn svg {
    width: 24px;
    height: 31px;
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}







@keyframes skeleton-loading {
    0% {
        background-color: hsla(300, 1%, 21%, 0.61);
    }

    100% {
        background-color: hsla(231, 14%, 10%, 0.308);
    }
}





@media screen and (min-width: 600px) {
    .poster-content {
        --dv-supercarousel-card-number: var(--override-dv-supercarousel-card-number, 3);
        --dv-carousel-column-gap: 16px;

    }
}

@media screen and (min-width: 880px) {
    .poster-content {
        --dv-supercarousel-card-number: var(--override-dv-supercarousel-card-number, 4);
        --dv-carousel-column-gap: 24px;
    }
}



@media screen and (min-width: 1400px) {
    .poster-content {
        --dv-supercarousel-card-number: var(--override-dv-supercarousel-card-number, 5);
        --dv-carousel-column-gap: 24px;
        --grid-template-columns: repeat(2, calc(var(--inner-width) - var(--dv-carousel-column-gap)));
        --dv-carousel-min-target: 48px;
    }
}

@media screen and (min-width: 1800px) {
    .poster-content {
        --dv-supercarousel-card-number: var(--override-dv-supercarousel-card-number, 6);
        --dv-carousel-column-gap: 24px;
        --grid-template-columns: repeat(2, calc(var(--inner-width) - var(--dv-carousel-column-gap)));
        --dv-carousel-min-target: 48px;
    }
}






@media screen and (max-width: 767px) {

    .posterPrevBtn,
    .posterNextBtn {
        display: none;
    }
}