.TvSeries header, .Movies header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: auto;

    padding: 0 var(--inner-width);

    overflow-x: clip;
    overflow-y: visible;

    position: relative;
    box-sizing: border-box;

    margin-top: var(--nav-height);
}