.identity {
    --background_gradient: radial-gradient(circle at 20% 95%, #056877, #051828 96%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-image: var(--background_gradient);
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}



.identity-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding-block: 24px;
    padding-inline: var(--inner-width);
}

.identity-container>.identity-logo {
    width: auto;
    height: 60px;
    margin-right: 0;
}

.identity-container>.identity-logo img {
    width: 100%;
    height: 100%;
}

.identity-logo-black {
    width: 96px;
    height: auto;
    margin-bottom: 12px;
}

.identity-logo-black img {
    width: 100%;
    height: 100%;
}


.identity-box {
    display: flex;
    flex-direction: column;
    width: 580px;
    background: #fff;
    padding-inline: 72px;
    padding-block: 56px;

    border-radius: 24px;
}



.identity-title {
    font-family: 'Inspire-Roman', sans-serif;
    font-weight: 500;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
    color: rgb(37 37 38);
}

.identity-subtitle {
    font-family: 'Inspire-Roman', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgb(37 37 38);
    margin-bottom: 24px;
}



.identity-form-input-container {
    display: flex;
    position: relative;
    font-size: 16px;
    overflow: hidden;
    align-items: center;
    cursor: text;
    width: 100%;
    height: 60px;
    background-color: rgb(233 235 240 / 1);
    border-radius: 4px;
}

.identity-form-input-container::before {
    content: "";
    transition-timing-function:
        cubic-bezier(.4, 0, .2, 1);
    border-bottom-color: rgb(134 137 143);
    border-style: solid;
    border-bottom-width: 2px;
    cursor: text;

    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
}

.identity-form-input-container.active::before {
    content: "";
    border-bottom-color: rgb(37 37 38);
}



.identity-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.identity-form-input-container label {
    font-family: 'Inspire-Roman', sans-serif;
    font-weight: 400;

    color: rgb(95 97 102);
    line-height: 24px;
    font-size: 16px;
    flex: 0 1 auto;
    top: 18px;
    left: 16px;
    position: absolute;
    pointer-events: none;



    transition-property: all;
    transition-timing-function:
        cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
}


.identity-form-input-container.active label {
    top: 6px;
    line-height: 20px;
    font-size: 12px;

    transition-timing-function:
        cubic-bezier(.4, 0, .2, 1);
}

.identity-input {
    font-family: 'Inspire-Roman', sans-serif;
    font-weight: 400;
    font-size: 16px;

    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-text-opacity: 1;
    color: rgb(37 37 38);
    line-height: 24px;
    padding-top: 26px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    border-width: 0;
    flex: 1 1 auto;
    height: 100%;
}



.identity-button {
    font-family: 'Inspire-Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;


    height: 56px;
    background: #000;
    color: #fff;
    font-weight: bold;
    padding-block: 14px;
    padding-inline: 24px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.identity-button:hover {
    background: #333;
}



.password-prompt {
    font-family: 'Inspire-Roman', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgb(95 97 102 / 1);
    margin-block: 4px;
}





.identity-footer {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: #444;
    border-top: solid 1px rgb(233 235 240);

    padding-top: 24px;
}

.footer-title {
    font-family: 'Inspire-Heavy', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 800;


    margin-bottom: 4px;

    color: rgb(95 97 102 / 1);
}

.identity-footer-text {

    font-family: 'Inspire-Roman', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgb(95 97 102 / 1);
}

.identity-footer a {
    font-family: 'Inspire-Roman', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: rgb(0 64 229);

}

.more-info {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px transparent;
    box-sizing: border-box;
    display: block;
    height: auto;
    position: relative;

    margin-block-end: 0px;
    margin-block-start: -4px;
    margin-bottom: 24px;
    margin-inline-end: -24px;
    margin-inline-start: -24px;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -4px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;

    position: relative;
    unicode-bidi: isolate;

    -webkit-font-smoothing: antialiased;


    background-color: rgb(241 242 244);
}


.more-info button {
    font-family: 'Inspire-Roman', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: rgb(0 64 229);

    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    display: flex;
    flex-direction: row;
}



.more-info-content {
    padding-top: 16px;
}

.more-info button svg {
    vertical-align: middle;
    fill: rgb(0 64 229);
    transform: rotate(180deg);
}

.more-info button.active svg {
    vertical-align: middle;
    fill: rgb(0 64 229);
    transform: rotate(0deg);
}





.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 480px;
}




.loader {
    font-size: 12px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 100px auto;
}

.dot-loader {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;

    background: rgb(100, 99, 99);
    position: absolute;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.dot-loader1, .dot-loader2 {
    left: 0;
}

.dot-loader2 {
    background: #333;
}

.dot-loader3 {
    left: 1.5em;
}

.dot-loader4 {
    left: 3em;
}

@keyframes reveal {
    from {
        transform: scale(0.001);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em)
    }
}


.dot-loader1 {
    animation-name: reveal;

}

.dot-loader2, .dot-loader3 {
    animation-name: slide;
}

.dot-loader4 {
    animation-name: reveal;
    animation-direction: reverse;

}

.show-password {
    margin: 12px;
}

.show-password button {
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function:
        cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;

    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: transparent;
    border-style: none;
    border-radius: 24px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 32px;
    height: 32px;
    display: flex;
}

.show-password button svg {
    fill: rgb(134, 137, 143);
    display: block;
    max-width: 100%;
}




.identity.update-page{
    background-image: none;
    background-color: rgb(241 242 244 / 1);
}

.identity.update-page footer{
    display: none;
}

.identity.update-page .identity-logo-black{
    display: none;
}








@media (max-width: 479px) {
    .identity-container {
        padding-inline: 0;
    }

    .identity footer {
        margin-top: 0;
    }

    .identity-container {
        padding-bottom: 0;
    }

    .identity-box {
        border-end-end-radius: 0;
        border-end-start-radius: 0;
    }
}

@media (max-width: 660px) {

    .identity-box {
        width: 100%;
        padding-inline: 24px;
        padding-block: 32px;
    }
}