.search-page-container {
    position: relative;
    padding-top: var(--nav-height);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'ember-medium';
    position: relative;

    min-height: 100vh;
}

.search-page {
    width: 100%;
    padding-top: 24px;
    padding-right: var(--inner-width);
    padding-left: var(--inner-width);
}

.search-bar-container {
    position: relative;
    display: flex;
    margin-bottom: 24px;

}

.search-bar-container input {
    display: block;
    padding-left: 36px;
    background: transparent;
    border-color: #FFFFFF33;


    -webkit-appearance: textfield;
    outline-offset: -2px;

    font-family: "Inspire-Heavy", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.11px;
    line-height: 1.2;

    border-width: 0 0 3px 0;
    height: 44px;
    width: 100%;
    padding-bottom: 11px;
    color: #FFFFFFCC;
}

.search-bar-container input::placeholder {
    color: #FFFFFFCC;
}

.search-bar-container label {
    bottom: 18px;
    position: absolute;
    display: flex;
    cursor: text;
    box-sizing: border-box;

}

.search-bar-container label svg {
    fill: rgba(255, 255, 255, 0.8);
}

.search-bar-container input:focus-visible+label svg {
    fill: #FFFFFF;
}


.search-bar-container input:focus-visible::placeholder,
.search-bar-container input:focus-visible {
    color: #FFFFFF;
    border-color: #FFFFFF80;
}


.search-bar-container input:focus-visible {
    outline: none;
}

.search-bar-container label svg {
    height: 20px;
    width: 20px;
    margin-left: 4px;
    margin-right: 12px;
}

.search-bar-container button.active {
    display: block;
    visibility: visible;
    opacity: 1;
}


.search-bar-container button {
    line-height: normal;
    border: flex;
    cursor: pointer;
    transition: opacity 0.2s ease-out 0s, visibility 0.2s ease-out 0s;

    display: none;
    visibility: hidden;
    opacity: 0;

    bottom: 19px;

    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;

    color: #FFFFFFCC;
    background: transparent;
    border: none;
}



.search-bar-container button svg {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 20px;
    margin-left: 4px;
    color: #FFFFFF;
}

.set-group-search {
    display: flex;
    flex-direction: column;
}

.search-not-found {
    font-family: "Inspire-Heavy", sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.11px;
    line-height: 1.2;

    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
    margin-top: 9px;
}






@media (min-width: 768px) {
.search-not-found {
        margin-top: 46px;
    }
}

@media (min-width: 1024px) {
    .search-not-found {
        margin-top: 60px;
    }

    .search-bar-container button svg {
        margin-right: 16px;
        height: 24px;
        width: 24px;
        margin-left: 6px;
    }


    .search-bar-container button {

        bottom: 24px;
        right: 16px;
    }

    .search-bar-container label svg {
        height: 24px;
        width: 24px;
        margin-left: 6px;
        margin-right: 16px;
    }


    .search-bar-container label {
        bottom: 23px;
    }


    .search-bar-container input {
        padding-left: 48px;
    }

    .search-bar-container input {
        height: 56px;
        padding-bottom: 16px;
    }

    .search-bar-container input {
        font-family: "Inspire-Heavy", sans-serif;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.11px;
        line-height: 1.2;

    }
}