.error-page {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.not-found-background-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: url(https://prod-static.disney-plus.net/assets/product/disneyplus/images/404.06a47039848e01563a88857231aba51b.jpg) 50% no-repeat;
    background-size: cover;
}

.overlay-notfound {
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    height: 100%;
    right: 0;
    z-index: 1;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.error-page nav {
    background: rgba(0, 0, 0, .2);
    display: flex;
    height: 72px;
    padding: 0 36px;
    z-index: 2;

    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.eror-page-content {
    align-items: center;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 336px;
    position: relative;
    z-index: 2;
}

.eror-page-content h1 {
    font-family: 'Inspire-Heavy', sans-serif;
    font-size: 44px;
    letter-spacing: .11px;
    line-height: 1.2;
}

.eror-page-content p {
    font-family: 'Inspire-Roman', sans-serif;
    font-size: 15px;
    letter-spacing: -.1px;
    line-height: 1.6;
    margin: 20px auto;
    width: 300px;
}

.error-page-button {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    display: inline-block;
    font-family: 'Inspire-Heavy', sans-serif;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.6;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    border: 0;
    border-radius: .25rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
    padding-right: .5rem;
    padding-left: .5rem;

    background: #0072d2;
    color: #f9f9f9;
}


@media (min-width: 480px) {
    .eror-page-content {
        max-width: 400px;
    }
}

@media (min-width: 480px) {
    .eror-page-content p {
        width: 100%;
    }
}


@media (min-width: 768px) {
    .eror-page-content {
        max-width: 640px;
    }
}