.extendedMenu.active .expand-menu-list-container {
    visibility: visible;
    opacity: 1;
}

.expand-menu-list-container {
    margin-left: -10px;
    margin-top: 0px;
    top: 60px;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 15px;
    visibility: hidden;
    list-style: none;
    transition: opacity 0.3s;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-image: initial;
    padding: 12px 43px 12px 15px;

    position: absolute;
    background-color: rgb(8, 8, 9);
    border-radius: 4px;

    z-index: 4;
}

.expand-menu-list-container li {
    display: flex;
    flex-direction: row;

}

.expand-menu-list-container li a span {
    margin-right: 8px;
}

.expand-menu-list-container li a span {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 24px;
}

.expand-menu-list-container li a {
    text-decoration: none;
    color: white;

    display: flex;
    flex-direction: row;

    margin: 12px 10px;
    text-align: center;

}


.expand-menu-list-container li a p {
    display: flex;
    align-self: center;
    position: relative;
    line-height: 0;

    font-family: 'Inspire-Heavy', sans-serif;

    text-transform: uppercase;

    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.42px;
}

.expand-menu-list-container li a p::after {
    content: "";
    position: absolute;
    width: 0px;
    transform: scaleX(0);
    height: 2px;
    top: 12px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    transform-origin: right bottom;
    transition: transform 0.25s ease-out;

}

.expand-menu-list-container li:hover a p::after {
    transform: scaleX(1);
    transform-origin: left bottom;
    width: 100%;
}

.extendedMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    list-style-type: none;
    position: relative;

}

.expand-menu {
    width: 24px;

}

.expand-menu span {
    width: 24px;
    height: 72px;

    display: flex;
    align-items: center;
    justify-content: center;

}

@media (min-width: 480px) {
    .expand-menu-list-container {
        left: 0;
        right: inherit;
    }
}
@media (min-width: 768px) {
    .extendedMenu {
        display: none;

    }
}