footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0e0b14;
    z-index: 1;
    margin-top: 100px;
}

.identity footer {
    background: white;
    padding-top: 28px;
    padding-bottom: 28px;

    padding-inline: 40px;
}

.identity footer .footer-logo {
    display: none;
}

.identity footer .footer-container ul {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
}

.identity footer .footer-container ul li a,
.footer-text,
.Rights {
    color: rgb(95 97 102) ;
}

.identity footer .footer-container ul li:hover a {
    color: rgb(0, 0, 0) ;
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.footer-logo {
    padding-top: 19px;
    width: 74px;
    margin: 0px auto;
}

.footer-logo a {
    cursor: pointer;
    min-width: 62px;
    height: 38px;

}

.footer-logo a img {
    width: 100%;
    height: 100%;
}

.footer-container ul {
    display: flex;
    margin: 0px auto;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: wrap;
    max-width: 500px;

    list-style: none;

    font-family: 'Inspire-Roman', sans-serif;
    font-size: 14px;
    letter-spacing: -.1px;
    line-height: 1.5;
}

.footer-container ul li {
    margin: 11px 5px 10px;

    padding-inline: 6px;
    padding-block: 1px;
}

.footer-container ul li a {
    text-decoration: none;

    color: #f9f9f9;
    text-decoration: none;
}

.footer-text {
    margin-left: 28px;
    margin-right: 28px;

    text-align: center;
    color: #cacaca;

    font-family: 'Inspire-Roman', sans-serif;
    font-size: 14px;
    letter-spacing: -.1px;
    line-height: 1.5;
}


.Rights {
    font-family: 'Inspire-Roman', sans-serif;
    font-size: 14px;
    letter-spacing: -.1px;
    line-height: 1.5;

    color: #cacaca;

    text-align: center;

    padding-bottom: 1.5rem;

    padding-top: .5rem;
}

@media screen and (max-width: 768px) {
    .footer-container ul li {
        margin: 11px 1px 10px;
    }
}