.LandingPage {
    font-family: 'Gilroy-SemiBold';
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #fff;
    text-decoration: none;

    font-size: clamp(28px, 5vw, 78px);
    text-decoration: none;



    background-color: #0A070B;
}





.LandingPage a:hover {

    color: #fff;
}

.LandingPage span {

    bottom: 0;
}


.LandingPage .BackgroundComponent-Container{
    width: 100%;
    height: 100%;

    color: #fff;
}
.LandingPage .BackgroundComponent-Container h1{
    color: #fff;
}

.LandingPage .section{
    z-index: 12;
    width: 100%;
    height: auto;
    background-color: #0A070B;
}