@import url('./Variables.css');

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./Layout/Fonts/EM-Gilroy/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(./Layout/Fonts/EM-Gilroy/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./layout/Fonts/EM-Gilroy/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(./Layout/Fonts/EM-Gilroy/Gilroy-SemiBold.ttf) format('OpenType');
}

@font-face {
    font-family: 'Ember-regular';
    src: url(./Layout/Fonts/Ember/AmazonEmberDisplay_Rg.ttf) format('OpenType');
}

@font-face {
    font-family: 'Ember-bold';
    src: url(./Layout/Fonts/Ember/AmazonEmberDisplay_Bd.ttf) format('OpenType');
}

@font-face {
    font-family: 'Ember-medium';
    src: url(./Layout/Fonts/Ember/AmazonEmberDisplay_Md.ttf) format('OpenType');
}

@font-face {
    font-family: 'Ember-light';
    src: url(./Layout/Fonts/Ember/AmazonEmberDisplay_Lt.ttf) format('OpenType');
}




/* --- Inspire Black Italic --- */
@font-face {
    font-family: 'Inspire-BlackItalic';
    src: url('../src/layout/Fonts/inspire/Inspire-BlackItalic.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* --- Inspire Black --- */
@font-face {
    font-family: 'Inspire-Black';
    src: url('../src/layout/Fonts/inspire/Inspire-Black.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* --- Inspire Heavy Italic --- */
@font-face {
    font-family: 'Inspire-HeavyItalic';
    src: url('../src/layout/Fonts/inspire/Inspire-HeavyItalic.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-HeavyItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* --- Inspire Heavy --- */
@font-face {
    font-family: 'Inspire-Heavy';
    src: url('../src/layout/Fonts/inspire/Inspire-Heavy.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* --- Inspire Medium Italic --- */
@font-face {
    font-family: 'Inspire-MediumItalic';
    src: url('../src/layout/Fonts/inspire/Inspire-MediumItalic.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* --- Inspire Medium --- */
@font-face {
    font-family: 'Inspire-Medium';
    src: url('../src/layout/Fonts/inspire/Inspire-Medium.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* --- Inspire Roman Italic --- */
@font-face {
    font-family: 'Inspire-RomanItalic';
    src: url('../src/layout/Fonts/inspire/Inspire-Italic.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* --- Inspire Roman --- */
@font-face {
    font-family: 'Inspire-Roman';
    src: url('../src/layout/Fonts/inspire/Inspire-Roman.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* --- Inspire Light Italic --- */
@font-face {
    font-family: 'Inspire-LightItalic';
    src: url('../src/layout/Fonts/inspire/Inspire-LightItalic.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* --- Inspire Light --- */
@font-face {
    font-family: 'Inspire-Light';
    src: url('../src/layout/Fonts/inspire/Inspire-Light.woff2') format('woff2'),
        url('../src/layout/Fonts/inspire/Inspire-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}





* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: white;
}

html:has(#nav .focus-modal) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    position: static;
    scrollbar-gutter: stable;

}

html:has(.global-modal-layout) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    position: static;
    scrollbar-gutter: stable;
}

.SeeAll {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFF;
    font-size: 14px;

    gap: 10px;

    font-family: 'Gilroy-Regular';

    text-decoration: none;
}



.loading-icon {
    animation: spin 1s linear infinite;
    display: inline-block;
}

.watchlist-btn:hover .loading-icon stop, .featureBtn-item:hover .loading-icon stop {
    stop-color: white;
}

.watchlist-btn:hover .loading-icon stop, .featureBtn-item:hover .loading-icon stop {
    stop-color: #000;
}



@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}


.SeeAll h3 {
    display: block;
}

.SeeAll img {
    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {

    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.app-background{
    background-color: rgb(23, 23, 27);
    position: fixed;
    height: 100vh;
    top: 0px;
    transition: opacity 200ms;
    width: 100%;
    z-index: -3;
}


.app-background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18.4px;
    user-select: none;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    -webkit-font-smoothing: antialiased;
}


body, .hero-carousel-container-text {
    -webkit-font-smoothing: antialiased;
    /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    text-rendering: optimizeLegibility;
    /* kerning + ligatures */
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0e0b14;
    padding-block: 24px;
    padding-inline: 24px;

    z-index: 10;
}

#InfiniteCheck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.App {
    width: 100%;
    height: 100%;
    position: relative;
}

.navNormal {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

main {
    padding-bottom: 600px;
    padding-inline: var(--inner-width);
}


.focus-modal {
    /* background: #00050d; */
    bottom: 0;
    left: 0;
    opacity: .8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -2;
}