@import url('./Variables.css');

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./Layout/Fonts/EM-Gilroy/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(./Layout/Fonts/EM-Gilroy/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./layout/Fonts/EM-Gilroy/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(./Layout/Fonts/EM-Gilroy/Gilroy-SemiBold.ttf) format('OpenType');
}

@font-face {
    font-family: 'Ember-regular';
    src: url(./Layout/Fonts/Ember/AmazonEmberDisplay_Rg.ttf) format('OpenType');
}

@font-face {
    font-family: 'Ember-bold';
    src: url(./Layout/Fonts/Ember/AmazonEmberDisplay_Bd.ttf) format('OpenType');
}

@font-face {
    font-family: 'Ember-medium';
    src: url(./Layout/Fonts/Ember/AmazonEmberDisplay_Md.ttf) format('OpenType');
}

@font-face {
    font-family: 'Ember-light';
    src: url(./Layout/Fonts/Ember/AmazonEmberDisplay_Lt.ttf) format('OpenType');
}


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

html:has(#nav .focus-modal) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    position: static;
    scrollbar-gutter: stable;

}

html:has(.global-modal-layout) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    position: static;
    scrollbar-gutter: stable;
}

.SeeAll {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFF;
    font-size: 14px;

    gap: 10px;

    font-family: 'Gilroy-Regular';

    text-decoration: none;
}



.loading-icon {
    animation: spin 1s linear infinite;
    display: inline-block;
}

.watchlist-btn:hover .loading-icon stop, .featureBtn-item:hover .loading-icon stop {
    stop-color: white;
}

.watchlist-btn:hover .loading-icon stop, .featureBtn-item:hover .loading-icon stop {
    stop-color: #000;
}



@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}


.SeeAll h3 {
    display: block;
}

.SeeAll img {
    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    background: #00050D;
    overflow-x: hidden;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #00050D;
    padding-block: 24px;
    padding-inline: 24px;

    z-index: 10;
}

#InfiniteCheck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.App {
    width: 100%;
    height: 100%;
    position: relative;
}

.navNormal {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

main {
    padding-bottom: 600px;
}


.focus-modal {
    background: #00050d;
    bottom: 0;
    left: 0;
    opacity: .8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -2;
}