.account-page {
    min-height: 100vh;
}

.account-page nav {
    display: flex;
    align-items: center;
    height: var(--nav-height);
    padding-inline: var(--inner-width);
}

.account-page-container {
    margin-top: 40px;
}

.account-page-content {
    max-width: 506px;
    margin: 0px auto;
    padding: 0px 20px;
}

.account-page-title {
    margin-bottom: 16px;

    color: #fafafa;
}

.account-page-title h1 {
    font-family: "Inspire-Heavy", sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 1.5rem;
    line-height: 2rem;
}

.account-page-sections-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.account-page-section-title-container {
    background-color: hsl(227, 9%, 19%);
    border-radius: 4px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    padding: 0.5rem 1rem;
    color: hsl(0, 0%, 79.2%);
}

.account-page-section-title {
    font-family: "Inspire-Heavy", sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0;
    color: #fafafa;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.account-page-section-title svg {
    width: 70px;
    height: 30px;

    fill: #cacaca;
}

.account-page-section>ul {
    background-color: hsl(230, 9%, 13%);

    border-radius: 4px;
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
}

.account-page-section>ul li {
    display: flex;
    flex-direction: column;
    font-family: "Inspire-Heavy", sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0;
    color: #fafafa;
    font-weight: 700;
}

.account-page-section>ul li>div {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.account-page-section-actions {
    border-top: 1px solid hsla(228, 7%, 27%, 1);
}

.account-page-section-actions>div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-page-section-actions a{
    text-decoration: none;
    color: inherit;
}
.account-page-section-actions button {
    display: inline-flex;
    height: inherit;
    min-width: 64px;
    width: max-content;
    align-items: center;
    justify-content: flex-start;
    background: none;
    border: none;

    color: rgb(51, 221, 255);
    font-family: "Inspire-Heavy", sans-serif;
    font-size: 15px;
}

.account-page-section-actions button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.account-page-section-settings-actions button {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;

    background: none;

    cursor: pointer;
    border: none;
}


.account-page-section-settings-action-description {
    min-width: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1 1 0%;

    text-align: left;
}

.account-page-section-settings-action-description>span:first-child {
    font-family: "Inspire-Heavy", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: #fafafa;
    font-weight: 700;
}

.account-page-section-settings-action-description>span:last-child {
    font-family: "Inspire-Roman", sans-serif;
    font-size: .75rem;
    color: #cacaca;
    line-height: 1rem;
    letter-spacing: 0;
    font-weight: 400;
}

.account-page-section-settings-action-toggle {
    padding-inline-start: 8px;
    margin-inline-start: auto;
}


.account-page-section-settings-action-toggle span {
    background-color: hsl(228 9% 32% / 1);
    border-radius: 15.5px;
    cursor: pointer;
    height: 15px;
    width: 43px;
    display: flex;
    position: relative;
    transition: all .2s ease-in-out;
}

.account-page-section-settings-action-toggle span::before {
    content: "";
    background-color: hsl(0 0% 79% / 1);
    border-radius: 1000px;
    width: 22px;
    height: 22px;
    display: inline-block;
    top: -4px;
    left: 0;
    position: absolute;
}
.account-page-section-settings-action-toggle.active span::before {
    left: inherit;
    right: 0;
}

.account-page-section-settings-action-toggle input {
    display: none;
    visibility: hidden;
}


.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(23, 23, 28, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog {
    background-color: #25272c;
    border-radius: 8px;
    padding: 36px;

    max-width: 560px;
    width: calc(100% - 48px);
    position: relative;

}


.dialog>div {
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

.dialog h2 {
    font-family: "Inspire-Heavy", sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0;

    font-size: 1.125rem;

    color: #fafafa;
}



.dialog p {
    font-size: 1rem;
    font-family: "Inspire-Roman", sans-serif;
    line-height: 1.5rem;
    letter-spacing: 0;
    font-weight: 400;
    color: #fafafa;
}



.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}





.dialog-error {
    color: red;
    font-size: 0.9rem;
}


.dialog form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
}

.dialog-input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 16px;
}

.dialog-input-container p {
    font-size: .75rem;
    font-family: "Inspire-Roman", sans-serif;
    line-height: 1rem;
    letter-spacing: 0;
    font-weight: 400;

    color: hsl(0, 0%, 79.2%);

    height: 24px;
    display: flex;
    align-items: center;
}

.dialog-input-content {
    position: relative;
    width: 100%;
    margin-top: 16px;
}

.dialog-input-content input {
    padding-inline-end: 58px;
    outline: none;
    background: hsl(230, 9%, 13%);
    caret-color: hsl(183, 98%, 48%);
    color: #fafafa;
    border-radius: 4px;
    border: 1.5px solid hsl(228, 9%, 32%);
    height: 54px;
    width: 100%;
    padding-inline-start: 12px;
    font-family: "Inspire-Roman", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.016px;
}

.dialog-input-container input::placeholder {
    color: #cacaca;
}

.dialog-input-container input:focus::placeholder {
    color: transparent;
}

.dialog-input-container input:focus {
    border: 2px solid hsl(0, 0%, 98%);
}


.dialog-input-content .show-password {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.dialog-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: fit-content;
}

.dialog-actions button {
    font-family: "Inspire-Heavy", sans-serif;
    -webkit-tap-highlight-color: transparent;
    font-weight: 900;
    transition: all .2s ease;
    background: #fafafa;
    color: #000;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    font-size: 0.9375rem;

    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-width: 64px;
    height: 3rem;
    display: inline-flex;
    border-width: 0;

    text-transform: uppercase;
}


.dialog-actions button:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .3), 0 1px 3px 1px rgba(0, 0, 0, .15);
}



.dialog-actions button:first-child {
    background-color: #fafafa;
}

.dialog-actions button:last-child {
    background: #4a4d59;
    color: white;
}


.dialog a {
    font-family: "Inspire-Roman", sans-serif;
    color: #3df;
    text-decoration: none;

    width: fit-content;
}

.dialog a:hover {
    color: white;
    text-decoration: underline;
}





@media (min-width: 375px) {
    .dialog-actions {
        flex-direction: row;
    }
}