.ageClass {
    width: max-content;
    height: max-content;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    padding: 1px;
}


.feature-container .ageClass {
    position: absolute;
    right: var(--inner-width);
    bottom: 0px;
    z-index: 10;

    padding-bottom: 14px;
}


.feature-container .ageClass img {
    max-width: 24px;
    max-height: 24px;
}

.hero-carousel-info-content-text-2 .ageClass{
    margin-right: 8px;
}
.hero-carousel-info-content-text-2 .ageClass img{
    max-width: 18px;
    max-height: 18px;
}


.poster-slider .ageClass img {
    max-width: 22px;
    max-height: auto;
}

.SliderContent .ageClass img {
    max-width: auto;
    max-height: 28px;
}


.description-and-genres .ageClass img {
    max-width: 22px;
    max-height: 22px;
}

.description-and-genres .ageClass svg {
    max-width: auto;
    max-height: 22px;
}



.usAgeClass {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inspire-Heavy', sans-serif;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: -.1px;
    line-height: 1.5;

    background-color: #30343A;
    padding: 2px 8px;

    text-wrap: nowrap;
}